body {
    margin: 0;
    text-align: center;
    color: ;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #66BFBF;
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    margin-bottom: 0;
}

h3 {
    color: #11999E;
}


.top {
    padding-top: 100px;
    position: relative;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}


.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.cricket {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.chess {
    width: 20%;
    float: right;
    margin-right: 30px;
}

.profile p {
    color: #40514E;
}


.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  
  .btn:hover {
    text-decoration: none;
  }


  .footer-link {
    color: #11999E;
    margin: auto 30px;
    padding-top: 10px;

  }

  .contact-me p {
    margin-bottom: 30px;
  }

  .bottom-container {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #66BFBF;

  }


  .bottom-container p {
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  hr {
    border: 1px dotted;
    width: 1%;
    opacity: 50%;
  }

  .profile {
    width: 50%;
    margin: 50px auto;
    text-align: left;
  }

  .profile h2 {
    text-align: left;
  }

  .profile img {
    float: right;
    width: 20%;
    padding: 0;
  }